
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("/assets/images/login-signup.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif; 
  background-color: #f3f3f3; 
}

.container {
  display: flex;
  background: white;
  padding: 40px;
  border-radius: 12px; 
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
  width: 900px; 
  max-width: 95%;
}

.social-login, .manual-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px; 
  margin: 10px 0; 
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px; 
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-login button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.social-login .icon {
  margin-right: 10px;
}

.facebook { background: #3b5998; }
.twitter { background: #000000; }
.google { background: #db4437; }

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-weight: bold;
  color: #777;
  font-size: 1.2em;
}

.manual-login h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.manual-login input {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  transition: border-color 0.2s ease-in-out;
}

.manual-login input:focus {
  outline: none;
  border-color: #007bff; /* Highlight on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.remember {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 20px;
}

.remember input[type="checkbox"] {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.remember label {
  color: #555;
  font-size: 0.9em;
}

.login {
  width: 100%;
  padding: 15px; 
  background: #3498db; ;
  color: white;
  border: none;
  font-size: 1.1em;
  border-radius: 8px; 
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #328bc7; ; 
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9em;
  margin-top: 25px;
  color: #777;
}

.register { color: #3498db; ; text-decoration: none; font-weight: 500; }
.forgot { color: #777; text-decoration: none; }

.register:hover, .forgot:hover {
  text-decoration: underline;
}